// colors
$white:         rgb(255,255,255);
$black:         rgb(35,31,32);
$gray_lighter:  rgb(211,211,211);
$yellow:        rgb(255,202,19);
$orange:        rgb(255,168,0);
$blue:          rgb(31,115,255);
$red:           rgb(225,70,62);

$button_green:  rgb(162,218,137);
$button_blue:   rgb(159,220,248);
$button_red:    rgb(245,92,92);
$button_yellow: $yellow;


// fonts
$font_family: sans-serif;


// breakpoints
$min_width_large:   1200px;
$min_width_xlarge:  1400px;


// dimensions
$top_nav_height:    56px;
