<a href="#" class="markdown-cheatsheet-close">&times;</a>

<h2>Markdown Cheatsheet:</h2>

<a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">
  See full documentation
</a>

<h3>Emphasis</h3>

<pre>
_italic_
**bold**
</code></pre>

<h3>Links</h3>

<pre>
An [example](http://url.com/ "Title")
</pre>

<h3>Images</h3>

<p>Inline (titles are optional):</p>

<pre>
![alt text](/path/img.jpg "Title")
</pre>

<h3>Headers</h3>

<pre>
# Header 1 #

## Header 2 ##

###### Header 6
</pre>

<h3>Lists</h3>

<p>Ordered:</p>

<pre>
1. Foo
2. Bar
</pre>

<p>Unordered:</p>

<pre>
* Foo
* Bar
</pre>

<p>You can nest them:</p>

<pre>
* Foo
* Bar
* Bubbles
  1. bunk
  2. bupkis
  3. burper
* Warper
</code></pre>

<h3>Blockquotes</h3>

<pre>
> This is a quote
</pre>

<h3>Code</h3>

<pre>
`` Look mom, I'm programming! ``
</pre>

<h3>Preformatted Code Blocks</h3>

<p>Indent every line of a code block by at least 4 spaces or 1 tab.</p>

<pre>
This is a normal paragraph.

    This is a preformatted
    code block.
</pre>

<h3>Horizontal Rules</h3>

<pre>
---
</pre>

<h3>Manual Line Breaks</h3>

<p>End a line with two or more spaces:</p>

<pre>
  Roses are red,
  Violets are blue.
</pre>
</div>
