#markdown-cheatsheet {
  @include box-shadow(0 0 10px gray(100));
  background-color: #fff;
  bottom: 0;
  overflow: auto;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 230;

  h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
    margin: 1em 0;
  }

  h3 {
    border-bottom: 1px solid rgb(200,200,200);
    font-size: 14px;
    font-weight: bold;
    line-height: 2em;
    margin: 1em 0;
  }

  p {
    margin: 0 0 1em 0;
  }

  pre {
    background-color: rgb(240,240,240);
    font-family: Monaco, monospace;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 10px;

    & + h3 {
      margin-top: 2em;
    }

  }

  .markdown-cheatsheet-close {
    @include transition(color 220ms ease-in-out);
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.45);
    position: absolute;
    right: 10px;
    padding: 10px;
    top: 10px;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }

}
