.markdown-editor {

  .markItUpHeader {
    height: 30px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      float: left;
      margin: 0 2px;

      &.markItUpButton {
        background-position: center center;
        background-repeat: no-repeat;

        a {
          cursor: pointer;
          display: block;
          height: 30px;
          overflow: hidden;
          text-indent: -9999px;
          width: 20px;
        }

        &.preview,
        &.close-fullscreen {
          display: none;
        }

      }

      &.markItUpSeparator {
        background-color: rgb(200,200,200);
        height: 30px;
        margin: 0 10px;
        overflow: hidden;
        text-indent: -9999px;
        width: 1px;
      }

    }

  }

  .markItUpPreviewFrame {
    display: none;
  }


  //
  // Fullscreen
  //
  .markItUp.fullscreen {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;

    .markItUpContainer {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 30px;
    }

    .markItUpHeader {
      background-color: white;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 210;

      ul {
        padding: 0 15px;
      }

      li {

        &.markItUpButton {

          &.close-fullscreen {
            display: block;
          }

          &.fullscreen {
            display: none;
          }

        }

      }

    }

    textarea {
      @include border-radius(0);
      background-color: rgb(41, 41, 41);
      border: 0;
      border-left: 20px solid rgb(41, 41, 41);
      color: rgb(221, 221, 221);
      font-family: monospace;
      font-size: 14px;
      height: 100%;
      left: 0;
      line-height: 1.35em;
      margin: 0;
      padding: 0;
      position: absolute;
      resize: none;
      top: 0;
      width: 50%;
      z-index: 200;
    }

    .markItUpPreviewFrame {
      border: none;
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 48%;
    }

    .markItUpFooter {
      display: none;
    }

  }


  //
  // Buttons
  //
  .markItUpHeader {

    .h2 {
      background-image: icon-url('text_heading_2');
    }

    .h3 {
      background-image: icon-url('text_heading_3');
    }

    .h4 {
      background-image: icon-url('text_heading_4');
    }

    .bold {
      background-image: icon-url('text_bold');
    }

    .italic {
      background-image: icon-url('text_italic');
    }

    .fullscreen {
      background-image: icon-url('application_tile_horizontal');
    }

    .close-fullscreen {
      background-image: icon-url('application_get');
    }

    .add-link {
      background-image: icon-url('link');
    }

    .add-image {
      background-image: icon-url('picture_add');
    }

    .markdown-cheatsheet {
      background-image: icon-url('book_open');
    }

    .unordered-list {
      background-image: icon-url('text_list_bullets');
    }

    .ordered-list {
      background-image: icon-url('text_list_numbers');
    }

    .add-table {
      background-image: icon-url('table_add');
    }

  }

}
