html,
body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5em;
}

ul,
ol {
  margin: 0 0 0 20px;
  padding: 0;
}

table {
  border: 1px solid rgb(200,200,200);
  border-collapse: collapse;
}

th,
td {
  border: 1px solid rgb(200,200,200);
  padding: 3px 10px;
}

blockquote {
  position: relative;

  &:before {
    content: open-quote;
    left: -10px;
    position: absolute;
    top: -10px;
  }

}

pre,
code {
  background-color: rgb(240,240,240);
  padding: 10px;
}

img {
  max-width: 95%;
  height: auto;
}
