.flashes {
  @include animation-name(flash-slide-up);
  @include animation-duration(500ms);
  @include animation-delay(0.75s);
  @include animation-fill-mode(forwards);
  left: 0;
  height: $top_nav_height;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}

.flash {
  @include border-radius(3px);
  background-color: $yellow;
  color: white;
  line-height: $top_nav_height + 1;
  padding: 0 20px;
  text-align: center;

  &.flash_alert {
    background-color: $red;
  }

}


@include keyframes(flash-slide-up) {
  0% {
    top: 0;
  }
  100% {
    top: 0 - $top_nav_height - 1;
  }
}
