#header {
  margin: 0 0 20px 0;
  position: relative;

  // nav category
  h1 {
    color: gray(190);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    margin: -37px 20px 140px 10px;
    text-align: right;
  }

  // nav items
  #tabs {

    li {
      background-position: 0 10px;

      a {
        background-position: left center;
        border-top: 1px solid gray(190);
        color: $black;
        display: block;
        line-height: 36px;
        padding: 0 0 0 30px;
        position: relative;
        text-decoration: none;

        &:after {
          position: absolute;
          right: 10px;
        }

        &:hover {
          color: $blue;
        }

      }

      // li:first-child
      &:first-child {

          a {
          border: none;
        }

      }

      // li.current
      &.current {

        a {
          font-size: 14px;
          font-weight: bold;

          &:after {
            content: "→";
          }

        }

      }

    }

  }

}
