#header {
  margin: 0 0 20px 0;
  position: relative;

  // nav category
  h1 {
    color: gray(190);
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
    margin: 10px 0 100px 30px;
  }

  // nav items
  #tabs {

    a {
      border-top: 1px solid gray(190);
      color: $black;
      display: block;
      line-height: 36px;
      margin: 0 0 0 30px;
      position: relative;
      text-decoration: none;

      &:hover {
        color: $blue;
      }

    }

    li:first-child a {
      border: none;
    }

    li.current a {
      font-size: 14px;
      font-weight: bold;
    }

  }

  ul li i {
    left: -30px;
    top: 9px;
  }

}
