#active_admin_content .index_as_tree_table {
  @extend %table-wrapper;

  table {

    thead {
      display: none;
    }

    td {
      background-color: white;

      &.collapse {
        cursor: pointer;
        padding: 0 0 0 5px;
        width: 10px;
      }

      &.collapse.collapsable {


        &:before {
          border-color: black transparent transparent transparent;
          border-style: solid;
          border-width: 4px;
          content: "";
          display: block;
          height: 0;
          left: 2px;
          position: relative;
          top: 3px;
          width: 0;
        }

      }

      &.collapse.collapsable.closed {

        &:before {
          border-color: transparent transparent transparent black;
          left: 4px;
          top: 1px;
        }

      }

      &.selectable {
        padding: 0 5px;
        width: 16px;
      }

      &.position {
        padding: 0;
        width: 16px;

        .drag-handle {
          display: inline-block;
          height: 16px;
          margin: 0 3px;
          text-indent: -9999px;
          width: 16px;

          @include icon("text_align_justify");
        }

      }

    }

  }

}
