.sidebar_section {
  @include border-radius(10px);
  border: 1px solid gray(220);
  margin: 0 10px 20px 0;
  overflow: hidden;

  h3 {
    background-color: gray(220);
    color: $white;
    font-weight: bold;
    padding: 10px;
  }

  .panel_contents {
    padding: 10px;
  }

}
