#title_bar {
  background-color: $white;
  border-bottom: 1px solid gray(220);
  font-size: 14px;
  height: $top_nav_height;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  width: 760px;
  z-index: 10;

  @media screen and (min-width: $min_width_large) {
    width: 960px;
  }

  @media screen and (min-width: $min_width_xlarge) {
    width: 1150px;
  }

  #titlebar_left {
    float: left;
    padding: 0 0 0 19px;
  }

  #titlebar_right {
    float: right;

    .action_items {
      float: right;
    }

    .locale_chooser {
      border-left: 1px solid #dcdcdc;
      float: right;
    }
  }

  //
  //  Locale chooser
  //
  .locale_chooser select {
    @include appearance(none);

    border: 0;
    border-radius: 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: $top_nav_height;
    line-height: $top_nav_height + 2;
    padding: 0 24px;
    vertical-align: top;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  //
  //  Breadcrumbs
  //
  .breadcrumb {
    color: gray(211);
    line-height: $top_nav_height;
    padding: 0;
    white-space: nowrap;

    li {
      display: inline-block;
    }

    a {
      border-bottom: 2px solid lighten($gray_lighter, 9%);
      color: $gray_lighter;
      display: inline-block;
      line-height: 18px;
      text-decoration: none;
    }

  }

  //
  //  Current page title
  //
  h2 {
    color: gray(211);
    display: inline-block;
    line-height: 56px;
  }

}
