#utility_nav {
  position: absolute;
  top: 75px;
  left: 25px;

  a {
    @include text-shadow(1px 1px 1px rgba(0,0,0,.2));
    color: $white;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0 0 38px;
    text-decoration: none;
  }

  #current_user {
    @include border-radius(50%);
    background-image: image-url('lalala/users/default.jpg');
    background-size: cover;
    border: 3px solid $yellow;
    display: block;
    float: left;
    height: 60px;
    position: relative;
    text-indent: -9999px;
    width: 60px;
    z-index: 0;

    &:before {
      @include background-image(linear-gradient(left top, rgba(white, 0.75), rgba(white, 0)));
      @include border-radius(50%);
      content: " ";
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

  }

  #logout {
    float: left;
  }

}
