//
// Tables
//

.index_table {
  margin: 0 0 1em 0;
  width: 100%;
  border-collapse:collapse;

  tbody {

    tr {
      @include transition( background-color 300ms );

      &:nth-child(odd) {
        background-color: gray(250);
      }

      &.selected {
        background-color: $yellow;
      }

    }

  }

  // columns
  th, td {
    padding: 13px 15px 12px 15px;

    &.subtree {
      padding: 0 0 0 25px;
    }

    &.selectable {
      width: 25px;
    }

    &.id {
      width: 50px;
    }

    &:last-child {
      width: 75px;
    }
  }

  th {
    font-weight: bold;
  }

  a {
    color: black;
    text-decoration: none;

    &.member_link {
      display: inline-block;
      height: 16px;
      margin: 0 3px;
      text-indent: -9999px;
      width: 16px;
    }

    &.view_link {
      @include icon('eye');
    }

    &.edit_link {
      @include icon('page_white_edit');
    }

    &.delete_link {
      @include icon('delete');
    }

  }

  &.subtree {
    margin: 0;
  }

}
